<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>

	<conversionRule conversionWord="vcl"
						 converterClass="io.reactiverse.contextual.logging.LogbackConverter"/>

	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder
			by default -->
		<encoder>
			<pattern>%date  %highlight(%-5level) [%thread] [%vcl{requestId}] %cyan(%-40.40logger{40}) : %msg %n</pattern>
		</encoder>
	</appender>

	<logger name="org.hibernate" additivity="false" level="WARN" >
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework" additivity="false" level="INFO" >
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.context.annotation"		additivity="false" level="WARN" >
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache" additivity="false" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.github.ziplet" additivity="false" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.ibm.ws.webcontainer.servlet" additivity="false" level="WARN" >
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.solr.client.solrj" additivity="false" level="WARN" >
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework.beans.factory.annotation" additivity="false" level="WARN">
		<appender-ref ref="STDOUT" />
	</logger>

	<!-- applicativi in debug -->
	<logger name="it.demo" additivity="false" level="debug">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>